---
import posts from "../../repository/posts";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";

export function getStaticPaths() {
  return posts.map((post) => ({
    params: { post: post.href }, // Asegúrate de que `post.href` sea una cadena válida
  }));
}

const { post } = Astro.params;
const currentPost = posts.find((p) => p.href === post);
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Portafolio de Alex Dominguez" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{currentPost.title}</title>
  </head>
  <body
    class="absolute top-0 z-[-2] min-h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))] bg-no-repeat bg-cover"
  >
    <Header />

    <h1 class="text-4xl font-bold text-center text-white mt-8">
      {currentPost.title}
    </h1>
    <img
      class="rounded-xl shadow-2xl shadow-white/10 mb-6 w-96"
      src={currentPost.image}
      alt={`Captura de pantalla del proyecto ${currentPost.image}`}
    />
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: ligth dark;
  }
  html {
    font-family: "Onest Variable", sans-serif;
    height: 100%;
  }
  body {
    background-color: #050505;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
