---
import CsharpIcon from "../icons/CsharpIcon.astro";
import FlutterIcon from "../icons/FlutterIcon.astro";
import JavaScriptIcon from "../icons/JavaScriptIcon.astro";
import ReactIcon from "../icons/ReactIcon.astro";
import SQLIcon from "../icons/SQLIcon.astro";
import TailwindCSS from "../icons/TailwindCSS.astro";

const TAGS = {
  REACT: {
    name: "React",
    class: "bg-black text-white",
    icon: ReactIcon,
  },
  TAILWIND: {
    name: "TailwindCSS",
    class: "bg-black text-white",
    icon: TailwindCSS,
  },
  CSHARP: {
    name: "C#",
    class: "bg-black text-white",
    icon: CsharpIcon,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-black text-white",
    icon: JavaScriptIcon,
  },
  SQL: {
    name: "SQL Server",
    class: "bg-black text-white",
    icon: SQLIcon,
  },
  FLUTTER: {
    name: "Flutter",
    class: "bg-black text-white",
    icon: FlutterIcon,
  },
};
const PROJECTS = [
  {
    title: "Aire Libre",
    description:
      "Aire Libre fue el primer proyecto como freelancer, crear una marca desde un inicio asi como su pagina web fue muy divertido, pues pude experimentar con diferentes tecnologias y herramientas para lograr un resultado satisfactorio para el cliente.",
    link: "/posts/airelibre",
    Github: "#",
    image: "airelibre.png",
    tags: [TAGS.TAILWIND, TAGS.REACT],
  },
  {
    title: "Copymax",
    description:
      "Como primer trabajo despues de terminar la carrera, me dedique a hacer un rebranding a el lugar donde trabajo, pues requeria un nuevo logo y una nueva imagen para la empresa, asi como una pagina web para mostrar los servicios que ofrecemos.",
    link: "/posts/copymax",
    Github: "#",
    image: "coypmaxwallpaper.png",
    tags: [TAGS.TAILWIND, TAGS.REACT],
  },
];
---

{
  PROJECTS.map(({ title, description, tags, image, link }) => (
    <article class="opacity-90 mb-6">
      <h3 class="text-2xl font-semibold text-blue-400 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-3">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-3  items-center`}
            >
              <tag.icon class="size-6" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>

      <img
        class="rounded-xl shadow-2xl shadow-white/10 mb-6"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
      <div class="flex justify-center">
        <a
          href={link}
          class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
        >
          Ver proyecto
        </a>
      </div>
    </article>
  ))
}
